<center>

# ФБ-24 Шевченко Вікторія
## Лабораторна робота №4
## Структури для роботи з великими обсягами даних в Python
## Перший рівень

</center>

In [99]:
import pandas as pd
import os
import datetime
import numpy as np
from IPython.display import display
import time

In [5]:

def txt_to_csv(txt_file, csv_file, delimiter=';'):

    if os.path.exists(csv_file):
        os.remove(csv_file)  

    df = pd.read_csv(txt_file, delimiter=delimiter)
    df.to_csv(csv_file, index=False)
    df.info()

txt_file_path = 'household_power_consumption.txt'
csv_file_path = 'household_power_consumption.csv'

txt_to_csv(txt_file_path, csv_file_path)

C:\Users\kvdre\AppData\Local\Temp\ipykernel_700\932207760.py:6: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(txt_file, delimiter=delimiter)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [12]:
def pd_df(csv_file_path):
    dtype = {
        'Global_active_power': float,
        'Global_reactive_power': float,
        'Voltage': float,
        'Global_intensity': float,
        'Sub_metering_1': float,
        'Sub_metering_2': float,
        'Sub_metering_3': float
    }

    df = pd.read_csv(csv_file_path, dtype=dtype, na_values='?')

    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
    df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
    df = df.drop(df[(df['Sub_metering_1'] == 0) & (df['Sub_metering_2'] == 0) & (df['Sub_metering_3'] == 0)].index)
    df.dropna(inplace=True)
    return df
csv_file_path = 'household_power_consumption.csv'
df = pd_df(csv_file_path)    
display(df.head())
print(df.isnull().sum())

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

<h3>Перелік атрибутивної інформації:</h3>
<h5>
<ul>
<li>date: дата виміру у форматі dd/mm/yyyy</li>
<li>time: час у форматі hh:mm:ss</li>
<li>global_active_power: активна потужність, яку споживає домогосподарство за хвилину (усереднено) [кВт]</li>
<li>global_reactive_power: реактивна потужність, яку споживає домогосподарство за хвилину (усереднено) [кВт]</li>
<li>voltage: напруга, усереднена за хвилину спостереження [В]</li>
<li>global_intensity: усереднена силу струму для домогосподарства [A]</li>
<li>sub_metering_1: набір споживачів енергії No1 [Вт-годин активної енергії], відповідає кухні, на якій є машина для миття посуду на мікрохвильовка (електричної плити немає, використовується газова).</li>
<li>sub_metering_2: набір споживачів енергії No2 [Вт-годин активної енергії], відповідає пральні, в якій працює пральна машина, сушарка, холодильних та ввімкнено світло.</li>
<li>sub_metering_3: набір споживачів енергії No3 [Вт-годин]</li>
</ul>
</h5>

<h3> 1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт</h3>

In [58]:
def power_over_5(df):
    result_df = df[df['Global_active_power'] > 5.0]
    
    return result_df

start_time = time.time()
filtered_df = power_over_5(df)
result_dataframe = power_over_5(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

Час виконання Pd: 0.022320032119750977

<h3>NumPy:</h3>

In [57]:
def power_over_5_np(df):
    filtered_df = df[np.array(df['Global_active_power'] > 5.0)]
    return filtered_df


start_time = time.time()
result_dataframe = power_over_5_np(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Numpy: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

Час виконання Numpy: 0.014996767044067383

<h3> 2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.</h3>

In [72]:
def voltage_over_235(df):

    result_df = df[df['Voltage'] > 235]
    
    return result_df

start_time = time.time()
result_dataframe = voltage_over_235(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075243,2010-11-26,20:47:00,0.910,0.000,238.71,3.8,0.0,1.0,0.0
2075244,2010-11-26,20:48:00,0.912,0.000,239.25,3.8,0.0,1.0,0.0
2075245,2010-11-26,20:49:00,0.948,0.000,238.16,4.0,0.0,1.0,0.0
2075246,2010-11-26,20:50:00,1.198,0.128,238.11,5.0,0.0,1.0,0.0
2075247,2010-11-26,20:51:00,1.024,0.106,238.84,4.2,0.0,1.0,0.0

Час виконання Pd: 0.13677167892456055

<h3>NumPy:</h3>

In [77]:
def voltage_over_235_np(df):

    result_df = df[np.array(df['Voltage'] > 235)]
    
    return result_df

start_time = time.time()
result_dataframe = voltage_over_235_np(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Numpy: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075243,2010-11-26,20:47:00,0.910,0.000,238.71,3.8,0.0,1.0,0.0
2075244,2010-11-26,20:48:00,0.912,0.000,239.25,3.8,0.0,1.0,0.0
2075245,2010-11-26,20:49:00,0.948,0.000,238.16,4.0,0.0,1.0,0.0
2075246,2010-11-26,20:50:00,1.198,0.128,238.11,5.0,0.0,1.0,0.0
2075247,2010-11-26,20:51:00,1.024,0.106,238.84,4.2,0.0,1.0,0.0

Час виконання Numpy: 0.10953855514526367

<h3> 3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.</h3>

In [81]:
def within_current_range(df):
    filtered_df = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
    
    result_df = filtered_df[(filtered_df['Sub_metering_2'] + filtered_df['Sub_metering_3']) >
                            (filtered_df['Sub_metering_1'] + filtered_df['Sub_metering_3'])]
    
    return result_df

start_time = time.time()
result_dataframe = within_current_range(df)
display(result_dataframe)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
10,2006-12-16,17:34:00,4.448,0.498,232.86,19.6,0.0,1.0,17.0
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
52,2006-12-16,18:16:00,4.524,0.076,234.20,19.6,0.0,9.0,17.0
54,2006-12-16,18:18:00,4.472,0.000,233.29,19.2,0.0,1.0,16.0
72,2006-12-16,18:36:00,4.536,0.000,233.54,19.4,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

Час виконання Pd: 0.020451068878173828

<h3>NumPy:</h3>

In [80]:
def within_current_range_np(df):
    filtered_df = df[(df['Global_intensity'].values >= 19) & (df['Global_intensity'].values <= 20)]
    
    result_df = filtered_df[(filtered_df['Sub_metering_2'].values + filtered_df['Sub_metering_3'].values) >
                            (filtered_df['Sub_metering_1'].values + filtered_df['Sub_metering_3'].values)]
    
    return result_df

start_time = time.time()
result_dataframe = within_current_range_np(df)
display(result_dataframe.head())
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
10,2006-12-16,17:34:00,4.448,0.498,232.86,19.6,0.0,1.0,17.0
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
52,2006-12-16,18:16:00,4.524,0.076,234.20,19.6,0.0,9.0,17.0
54,2006-12-16,18:18:00,4.472,0.000,233.29,19.2,0.0,1.0,16.0
72,2006-12-16,18:36:00,4.536,0.000,233.54,19.4,0.0,1.0,17.0

Час виконання Pd: 0.01392221450805664

<h3>4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії</h3>

In [86]:
def random_house_avarage(df, x=50000):
    random_indices = np.random.choice(df.index, size=x, replace=True)
    random_raw = df.loc[random_indices]
    average_value = random_raw[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()
    
    return average_value

start_time = time.time()
average_value = random_house_avarage(df)
print(average_value)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

Sub_metering_1    1.58216
Sub_metering_2    1.85542
Sub_metering_3    9.16418
dtype: float64
Час виконання Pd: 0.036597490310668945

<h3>NumPy:</h3>

In [85]:
def random_house_avarage_np(df, x=5000):
    random_indices = np.random.choice(df.index, size=x, replace=True)
    random_raw = df.loc[random_indices]
    average_value = np.mean(random_raw[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']], axis=0)
    
    return average_value

start_time = time.time()
average_value = random_house_avarage_np(df)
print(average_value)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

Sub_metering_1    1.6396
Sub_metering_2    1.8102
Sub_metering_3    9.0250
dtype: float64
Час виконання Pd: 0.006585359573364258

<h3> 5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.</h3>

In [98]:
def select_households(df):
    filtered_df = df[(df['Time'] > datetime.time(18, 0, 0)) & (df['Global_active_power'] > 6.0)]

    final_df = filtered_df[(filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_1']) &
                              (filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_3']) &
                              (filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_2'].mean())]
   
    first_half = final_df.head(len(final_df) // 2)
    second_half = final_df.tail(len(final_df) // 2)
    result_df = pd.concat([first_half.iloc[::3, :], second_half.iloc[::4, :]])
    return result_df

start_time = time.time()
result = select_households(df)
display(result)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17496,2006-12-28,21:00:00,6.376,0.252,235.94,27.4,1.0,53.0,17.0
17499,2006-12-28,21:03:00,7.906,0.286,235.93,33.6,1.0,73.0,17.0
17502,2006-12-28,21:06:00,7.184,0.000,235.70,30.4,2.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
2066467,2010-11-20,18:31:00,6.830,0.394,229.39,30.2,24.0,34.0,16.0
2066471,2010-11-20,18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
2066475,2010-11-20,18:39:00,6.362,0.372,229.83,28.0,16.0,35.0,16.0
2066479,2010-11-20,18:43:00,6.324,0.376,229.93,27.8,14.0,35.0,17.0
2066485,2010-11-20,18:49:00,6.210,0.174,228.82,27.4,21.0,34.0,17.0

Час виконання Pd: 0.0766744613647461

<h3>NumPy:</h3>

In [97]:
def select_households_np(df):
    filtered_df = df[np.array(df['Time'] > datetime.time(18, 0, 0)) & np.array(df['Global_active_power'] > 6.0)]

    final_df = filtered_df[np.array(filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_1']) &
                              (filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_3']) &
                              (filtered_df['Sub_metering_2'] > filtered_df['Sub_metering_2'].mean())]
   
    first_half = final_df.head(len(final_df) // 2)
    second_half = final_df.tail(len(final_df) // 2)
    result_df = pd.concat([first_half.iloc[::3, :], second_half.iloc[::4, :]])
    return result_df

start_time = time.time()
result = select_households_np(df)
display(result)
end_time = time.time() - start_time
print(f"Час виконання Pd: {end_time}")

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17496,2006-12-28,21:00:00,6.376,0.252,235.94,27.4,1.0,53.0,17.0
17499,2006-12-28,21:03:00,7.906,0.286,235.93,33.6,1.0,73.0,17.0
17502,2006-12-28,21:06:00,7.184,0.000,235.70,30.4,2.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
2066467,2010-11-20,18:31:00,6.830,0.394,229.39,30.2,24.0,34.0,16.0
2066471,2010-11-20,18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
2066475,2010-11-20,18:39:00,6.362,0.372,229.83,28.0,16.0,35.0,16.0
2066479,2010-11-20,18:43:00,6.324,0.376,229.93,27.8,14.0,35.0,17.0
2066485,2010-11-20,18:49:00,6.210,0.174,228.82,27.4,21.0,34.0,17.0

Час виконання Pd: 0.08761048316955566

<h3>Отже, обидва способи працюють досить ефективно. DataFrame має більшу зручність для читання та обробки табличних даних. Проте, якщо дані занадто великі, NumPy array може бути швидшим за рахунок своєї ефективності у використанні пам'яті.</h3>